/* 
=============================================================================================== */
/* LATEST TRADES CONTAINER */

.recents {
    grid-area: recents;
  }
  
  .recents-container {
    border: 4px solid black;
    border-radius: 30px;
    background-color: black;
    color: silver;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 10px;
  }