
#root {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


  --page-background: #00204a;
  --component-background: black;
}



/* GRID */

.grid {
  display: grid;
  grid-template-areas: 
    'top-bar top-bar top-bar top-bar'
    'recents practice practice book'
    'recents graph graph book'
    'recents graph graph book'
    'my-orders graph graph book'
    'my-orders graph graph book';
  
  grid-template-columns: minmax(240px, 600px) 25% 25% minmax(240px, 600px);

  grid-gap: 5px;
  padding: 10px;
  background-color: var(--page-background);

}








/* ==================================================================================== */
/* TABLES */

#latest-table,
#my-orders-table,
#pending-buys,
#pending-sells {
  color: silver;
  border-radius: 20px;
  border: 1px solid darkgray;
  width: 100%;
}

#latest-table th,
#my-orders-table th,
#pending-sells th,
#pending-buys th {
  border-bottom: 1px solid white;
  height: 50px;
}

#latest-table tr:nth-child(even),
#my-orders-table tr:nth-child(even),
#pending-sells tr:nth-child(even),
#pending-buys tr:nth-child(even) {
background-color: rgb(31, 31, 61);
}

#latest-table td,
#my-orders-table td {
  padding: 0;
}


#pending-sells td {
  color: red;
  padding: 0;
}

#pending-buys td {
  color: greenyellow;
  padding: 0;
}

