.noListStyle {
  list-style: none;
  margin: 0.2em 0; }

ul {
  margin: 0;
  padding: 0; }

.listItem-buy .listItem-price {
  color: #5cb85c; }

.listItem-belowMV .listItem-price {
  color: #5cb85c; }

.listItem-sell .listItem-price {
  color: #f0ad4e; }

.listItem-aboveMV .listItem-price {
  color: #f0ad4e; }

.listItem-quantity {
  color: #fff; }

.listItem-timestamp {
  color: #81898e; }

.listItem-accountTo {
  color: #81898e; }

.listItem-accountFrom {
  color: #81898e; }
