h1, h2, h3, h4, h5, h6, p, span, label {
  color: #fff; }

.OrderFormContainer .accountInfo {
  margin: 2em 0 0 0; }

.OrderFormContainer .dropdown-button {
  margin: 10px 0 20px 0; }

.OrderFormContainer .orderForm-button {
  margin: 0 0 0 0;
  width: 50%; }

.OrderFormContainer .orderForm-submit {
  margin: 20px 0;
  width: 100%; }

.OrderFormContainer .input-area input {
  width: 100%; }

.OrderFormContainer .input-area label {
  position: relative;
  display: block;
  clear: both;
  margin-left: 0;
  text-align: left;
  margin: 15px 0 0 0; }

.OrderFormContainer .panelPadding {
  padding: 0 20px; }

.OrderFormContainer .orderForm {
  padding: 0; }
